/* navbarvertical.css */

.navbar-vertical {
  width: 280px;
  height: 100vh;
  background: #e2ffce;
  color: #132d14;
  border-right: 1px solid #e5e5e5;
  font-family: "Poppins", sans-serif;
  display: flex;
  margin-top: 0%;
  top: auto;
  flex-direction: column;
  margin-inline-start: auto;
  align-items: center;
  padding: 30px 15px;
}

/* PROFILE SECTION */
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.profile-pic {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4caf50;
}

.profile-name {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #0a1c10;
  letter-spacing: 0.5px;
}

/* NAVIGATION MENU */
.nav-list {
  list-style: none;
  width: 90%;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 12px;
  cursor: pointer;

  background: #f5f5f5;
  color: #333;
  font-size: 17px;
  font-weight: 400;

  border-radius: 14px; /* Rounded corners */
  transition: 0.25s ease;
}

.nav-item:hover {
  background: #4caf50;
  color: #ffffff;
  transform: translateX(6px);
}

.nav-item:active {
  background: #3e8e41;
  color: #ffffff;
}
